.container {
  min-width: 350px;
  max-width: 500px;
  padding: 20px;

  form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }

  .buttons {
    text-align: right;

    button {
      margin-left: 10px;
    }
  }
}

.date-picker-container {
  display: flex;
  justify-content: space-between;

  .date-picker {
    flex: 1;
    margin: 0 8px;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}