<div class="container">
    <div class="filters">
        <form>
            <mat-form-field class="filter-field">
                <mat-label>Titulo de Juego</mat-label>
                <mat-select disableRipple [(ngModel)]="loan.game" name="gameTitle">
                    <mat-option *ngFor="let game of games" [value]="game">{{game.title}}</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field class="filter-field">
                <mat-label>Nombre de Cliente</mat-label>
                <mat-select disableRipple [(ngModel)]="loan.client" name="clientName" >
                    <mat-option *ngFor="let client of clients" [value]="client">{{client.name}}</mat-option>
                </mat-select>
            </mat-form-field>
            
            <mat-form-field class="filter-field">
                <mat-label>Fecha de Préstamo</mat-label>
                <input  matInput [matDatepicker]="pickerIni" [(ngModel)]="loan.dateIni" name="dateIni">
                <mat-datepicker-toggle matIconSuffix [for]="pickerIni"></mat-datepicker-toggle>
                
                <mat-datepicker #pickerIni></mat-datepicker>
            </mat-form-field>     
        </form>

        <div class="buttons">
            <button mat-stroked-button (click)="onClearFilter()" >Limpiar</button> 
            <button mat-stroked-button (click)="onSearch()">Filtrar</button> 
        </div>   
    </div>   
    
    <mat-table [dataSource]="dataSource"> 
        <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef> Identificador </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="gameTitle">
            <mat-header-cell *matHeaderCellDef> Nombre de juego </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.game.title}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="clientName">
            <mat-header-cell *matHeaderCellDef> Nombe de cliente </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.client.name}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="dateIni">
            <mat-header-cell *matHeaderCellDef> Fecha de préstamo </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.dateIni | date:'dd/MM/yyyy'}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="dateFinal">
            <mat-header-cell *matHeaderCellDef> Fecha de devolución</mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.dateFinal | date:'dd/MM/yyyy'}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="action">
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef="let element">
                <button mat-icon-button color="accent" (click)="deleteLoan(element)">
                    <mat-icon>clear</mat-icon>
                </button>
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table> 

    <mat-paginator (page)="loadPage($event)" [pageSizeOptions]="[5, 10, 20]" [pageIndex]="pageNumber" [pageSize]="pageSize" [length]="totalElements" showFirstLastButtons></mat-paginator>

    <div class="buttons">
        <button mat-flat-button color="primary" (click)="createLoan()">Nuevo préstamo</button> 
    </div>   
</div>